* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box; /* all elements in the total width and height */
}
/* styling body */
body {
  background: lightseagreen;
}

.container {
  /* the box */
  width: 400px;
  padding: 10px 50px;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%); /* centering horizontally */
  background: white;
  border-radius: 20px; /* round corners */
}

.todo-list {
  /* to do list text */
  width: 100%;
  margin: 20px auto;
  font-size: 16px;
}

.add-task {
  /* the inputbox position */
  display: flex;
  align-items: center;
}

.add-task input {
  /* the inputbox styling */
  font-size: 12px;
  width: 100%;
  height: 30px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}

.add-task button {
  /* the add button styling */
  font-size: 12px;
  width: 40%;
  height: 30px;
  background: lightseagreen;
  color: white;
  border: 0;
  border-radius: 5px;
  margin: 10px;
}

ul li {
  /* the list items styling */
  list-style: none;
  padding: 10px;
  font-size: 14px;
}

ul li [type="checkbox"] {
  /* the checkbox position */
  margin-right: 10px;
}

.delete-button {
  /* the delete button styling */
  background: grey;
  color: white;
  border: 0;
  padding: 5px;
  border-radius: 5px;
  margin-left: 70px;
}
